html {
    height: 100%;
}
body{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.content-list {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100% !important;
    min-height: 100% !important;
}

.addForm{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #adadad;
}